<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ABSOLUTE} %t %-5p %C{1}:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.http.impl.conn" level="info"/>
    <Logger name="org.apache.commons.httpclient" level="info"/>
    <Logger name="httpclient" level="info"/>
    <Logger name="org.apache.amber.oauth2" level="info"/>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
