<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <!-- Comment out appender-ref to disable logging to console -->
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
