name: Maven build with native packaging

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  create:
  workflow_dispatch:

jobs:
  maven_build:
    name: Maven build
    if: github.event_name != 'create' || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Make build preparations
        run: bash _scripts/prepare_build.sh
      - name: Add sentry.properties
        if: vars.SENTRY_PROPERTIES_CONTENTS != ''
        env:
          SENTRY_PROPERTIES_CONTENTS: ${{ vars.SENTRY_PROPERTIES_CONTENTS }}
        shell: bash
        run: echo "$SENTRY_PROPERTIES_CONTENTS" > sip-app/src/main/resources/sentry.properties
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Convert logo to Windows icon
        shell: bash
        run: |
          # No longer needed when this works in jpackage_windows.sh
          sudo apt update
          sudo apt -y install imagemagick
          # ImageMagick v6 - use 'convert' command instead of 'magick' (v7)
          convert sip-app/src/main/resources/sip-creator-logo.png -define 'icon:auto-resize=256,128,64,48,32,24,16' sip-app/target/sip-creator-logo.ico
      - name: Archive universal artifacts
        uses: actions/upload-artifact@v4
        with:
          name: universal
          path: |
            sip-app/target/sip-app-*-exejar.jar
            !sip-app/target/sip-app-cli-*.jar
            !sip-app/target/sip-app-grpc-*.jar
            sip-app/target/sip-creator-logo.*

      - name: Configure SSH
        if: vars.DEPLOY_HOST != '' && success()
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - name: Deploy universal artifacts
        if: vars.DEPLOY_HOST != '' && success()
        shell: bash
        env:
          DEPLOY_HOST: ${{ vars.DEPLOY_HOST }}
          DEPLOY_PORT: ${{ vars.DEPLOY_PORT }}
          DEPLOY_KNOWN_HOSTS: ${{ vars.DEPLOY_KNOWN_HOSTS }}
          DEPLOY_USER: ${{ vars.DEPLOY_USER }}
          DEPLOY_SNAPSHOTS: ${{ vars.DEPLOY_SNAPSHOTS }}
          DEPLOY_RELEASES: ${{ vars.DEPLOY_RELEASES }}
        run: |
          exejarpath=$(ls -1 sip-app/target/sip-app-*-exejar.jar | head -n 1)
          pomversion=$(echo "$exejarpath" | xargs -n 1 basename | sed -r 's/sip\-app\-(.*)\-exejar\.jar/\1/')
          gitcommithashshort=$(git rev-parse --short=8 HEAD)
          timestamp=$(date '+%Y-%m-%dT%H%M%S')
          if [[ "$pomversion" =~ .*\-SNAPSHOT ]]; then
            exejardest="$DEPLOY_SNAPSHOTS/sip-creator-$pomversion-$timestamp-$gitcommithashshort.jar"
          else
            exejardest="$DEPLOY_RELEASES/sip-creator-$pomversion.jar"
          fi
          # contents of: ssh-keyscan -p DEPLOY_PORT DEPLOY_HOST > deploy_known_hosts
          echo "$DEPLOY_KNOWN_HOSTS" > deploy_known_hosts
          scp -o UserKnownHostsFile=deploy_known_hosts -P "$DEPLOY_PORT" "$exejarpath" "$DEPLOY_USER@$DEPLOY_HOST:$exejardest"
          echo "Deploy complete"

  native_packaging:
    name: Native packaging
    if: github.event_name != 'create' || startsWith(github.ref, 'refs/tags/v')
    needs: maven_build
    strategy:
      # If one OS build fails continue building others
      fail-fast: false
      matrix:
        os: [macos-15-intel, macos-15, windows-2025, windows-11-arm, ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          # Note: no cache here - this job only runs jpackage, not Maven
      - name: Download universal artifacts
        uses: actions/download-artifact@v4
        with:
          name: universal
          path: sip-app/target
      - name: Package for macOS
        if: startsWith(matrix.os, 'macos-')
        run: bash _scripts/jpackage_macos.sh
      - name: Package for Windows
        if: startsWith(matrix.os, 'windows-')
        run: bash _scripts/jpackage_windows.sh
      - name: Package for Linux
        if: startsWith(matrix.os, 'ubuntu-')
        run: bash _scripts/jpackage_linux.sh
      - name: Archive native artifacts
        uses: actions/upload-artifact@v4
        with:
          name: native-${{ matrix.os }}
          path: |
            sip-app/target/*.dmg
            sip-app/target/*.zip
            sip-app/target/*.msi
            sip-app/target/*.tar.xz

      - name: Configure SSH
        if: vars.DEPLOY_HOST != '' && success()
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - name: Deploy native artifacts
        if: vars.DEPLOY_HOST != '' && success()
        shell: bash
        env:
          DEPLOY_HOST: ${{ vars.DEPLOY_HOST }}
          DEPLOY_PORT: ${{ vars.DEPLOY_PORT }}
          DEPLOY_KNOWN_HOSTS: ${{ vars.DEPLOY_KNOWN_HOSTS }}
          DEPLOY_USER: ${{ vars.DEPLOY_USER }}
          DEPLOY_SNAPSHOTS: ${{ vars.DEPLOY_SNAPSHOTS }}
          DEPLOY_RELEASES: ${{ vars.DEPLOY_RELEASES }}
        run: |
          nativeext_alt=""
          nativepath_alt=""
          case "${{ matrix.os }}" in
            "macos-15-intel")
              nativetype="macos-x86_64"
              nativeext="dmg"
              nativepath=$(ls -1 sip-app/target/*.dmg | head -n 1)
              ;;
            "macos-15")
              nativetype="macos-aarch64"
              nativeext="dmg"
              nativepath=$(ls -1 sip-app/target/*.dmg | head -n 1)
              ;;
            "windows-2025")
              nativetype="windows-x86_64"
              nativeext="zip"
              nativepath=$(ls -1 sip-app/target/*.zip | head -n 1)
              nativeext_alt="msi"
              nativepath_alt=$(ls -1 sip-app/target/*.msi | head -n 1)
              ;;
            "windows-11-arm")
              nativetype="windows-aarch64"
              nativeext="zip"
              nativepath=$(ls -1 sip-app/target/*.zip | head -n 1)
              ;;
            "ubuntu-24.04")
              nativetype="linux-x86_64"
              nativeext="tar.xz"
              nativepath=$(ls -1 sip-app/target/*.tar.xz | head -n 1)
              ;;
            "ubuntu-24.04-arm")
              nativetype="linux-aarch64"
              nativeext="tar.xz"
              nativepath=$(ls -1 sip-app/target/*.tar.xz | head -n 1)
              ;;
            *)
              echo "Unknown OS"
              exit 1
              ;;
          esac
          exejarpath=$(ls -1 sip-app/target/sip-app-*-exejar.jar | head -n 1)
          pomversion=$(echo "$exejarpath" | xargs -n 1 basename | sed -r 's/sip\-app\-(.*)\-exejar\.jar/\1/')
          gitcommithashshort=$(git rev-parse --short=8 HEAD)
          timestamp=$(date '+%Y-%m-%dT%H%M%S')
          if [[ "$pomversion" =~ .*\-SNAPSHOT ]]; then
            nativedest="$DEPLOY_SNAPSHOTS/sip-creator-$pomversion-$timestamp-$gitcommithashshort-$nativetype.$nativeext"
            nativedest_alt="$DEPLOY_SNAPSHOTS/sip-creator-$pomversion-$timestamp-$gitcommithashshort-$nativetype.$nativeext_alt"
          else
            nativedest="$DEPLOY_RELEASES/sip-creator-$pomversion-$nativetype.$nativeext"
            nativedest_alt="$DEPLOY_RELEASES/sip-creator-$pomversion-$nativetype.$nativeext_alt"
          fi
          # contents of: ssh-keyscan -p DEPLOY_PORT DEPLOY_HOST > deploy_known_hosts
          echo "$DEPLOY_KNOWN_HOSTS" > deploy_known_hosts
          if [[ -f "$nativepath" ]]; then
            scp -o UserKnownHostsFile=deploy_known_hosts -P "$DEPLOY_PORT" "$nativepath" "$DEPLOY_USER@$DEPLOY_HOST:$nativedest"
          fi
          if [[ -f "$nativepath_alt" ]]; then
            scp -o UserKnownHostsFile=deploy_known_hosts -P "$DEPLOY_PORT" "$nativepath_alt" "$DEPLOY_USER@$DEPLOY_HOST:$nativedest_alt"
          fi
          echo "Deploy complete"
